body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Menu */
#navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 10vh;
    justify-content: space-around;
    background-color: rgb(70, 70, 70);
    margin-bottom: 20px;
}

li{
    list-style: none;
}

li>a{
    font-size: 1.5em;
    color: whitesmoke;
    text-decoration: none;
}
/*Formulaire*/

h1{
    display: inline-block;
}

form{
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid rgb(70, 70, 70);
    background-color: rgb(207, 207, 207);
}

input, label, h3{
    width: 30vw;
    font-size: 1.3em;
    margin: 5px;
}